/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 0.063em; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



/* All of the setup and non media query CSS */

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'OpenSansLight';
  src: url(../fonts/OpenSans-Light.ttf) format('truetype')
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url(../fonts/OpenSans-LightItalic.ttf) format('truetype')
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url(../fonts/OpenSans-Italic.ttf) format('truetype')
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(../fonts/PlayfairDisplay-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'PlayfairDisplayItalic';
  src: url(../fonts/PlayfairDisplay-Italic.ttf) format('truetype')
}

html {
    font: normal 100% 'OpenSans', sans-serif; 
    height: 100%;
}

body {
    min-height: 100vh;
    height: 100%;
    font-size: 100%;
    color: #000;
    background-color: #fffff9;
    line-height: 1.625;
}

/*
#ad9ca2

*/

/* Headings */

h1 {
    
}

h2 {
    
}

h3 {
    font-family: 'PlayfairDisplay', serif;
    font-size: 6vw;
    color: #925c79;
    text-align: center;
}

h4 {
    font-family: 'PlayfairDisplay', serif;
    font-size: 1.5vw;
    color: #fffff9;
}

h5 {
    font-family: 'PlayfairDisplayItalic', serif; 
    font-size: 2.5vw;
    color: #925c79;
    text-align: center;
}

h6 {
    font-family: 'OpenSansItalic', sans-serif;
    font-size: 2vw;
    color: #432333;
    text-align: center;
}

/* General Styling */

header, main, footer {
    width: 100%;
}

p {
    font-size: 1.8vw;
    color: #432333;
    width: 90%;
    margin: 0 5% 1em;
}

img {
    max-width: 100%;
}

ul li {
    list-style-type: none;
}

.center {
    text-align: center;
}

.divider {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.bold {
    font-weight: 900;
}

.italic {
    font-family: 'PlayfairDisplayItalic', serif;
}

.underline {
    text-decoration: underline;
}

.color {
    color: #432333;
}

/* Flexbox elements */

nav,
nav ul,
#philosophy,
#services,
#services .service-options,
#services .service-options ul,
#meet-kim,
footer,
footer ul,
#affiliates,
.packages-container {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}

/* Header */

header {

}

#logo {
    width: 35%;
    margin: 2% 0 0 2%;
}

/* Navigation */ 

#navigation {
    width: 50%;
    margin: 0 0 0 50%;
} 

#navigation ul {
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    position: relative;
    bottom: .25em;
    font-family: 'OpenSansLight', sans-serif;
    font-size: 1.4vw;
    color: #432333;
    z-index: 10;
}

/* Menu */

.menu-toggle,
.main-menu .menu-close {
    display: none;
  }
  
.main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
}
  
.main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
    text-decoration: none;
    color: #432333;
  }
  
.main-menu a:hover,
.main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #97a0b0;
}


/* Main */


main {

}
 
#testimonials,
#philosophy,
#services,
#meet-kim {
    position: relative;
}

#testimonials {
    background: url(../images/intuitive-bookkeeper-testimonials.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    padding-top: 38.75%; 
}

#testimonials .divider-1 {
    top: -11.5%;
}

.testimonial-container {
    width: 55%;
    position: absolute;
    top: 20%;
    left: 5%; 
}

/* Testimonial Fader */

.fader {
    position: relative;
    width: 100%;
    list-style: none;
    padding: 0;
}

.fader > li {
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    width: 100%;
    animation: fader 30s linear infinite;
}

.fader > li:nth-child(1) { animation-delay: 0s; }
.fader > li:nth-child(2) { animation-delay: 10s; }
.fader > li:nth-child(3) { animation-delay: 20s; }


@keyframes fader {
    0% { opacity: 0; } 
    3.33 { opacity: 1; }
    6.66% { opacity: 1; }
    9.99% { opacity: 1; }
    13.32% { opacity: 1; }
    16.65% { opacity: 1; }
    19.98% { opacity: 1; }
    23.31% { opacity: 1; }
    26.64% { opacity: 1; }
    29.97% { opacity: 1; }
    33.3% { opacity: 0; }
    100% { opacity: 0; }
}

.testimonial-container p, p.client-name {
    font-family: 'PlayfairDisplayItalic', serif;
    font-size: 2.25vw;
    color: #432333;
    width: 100%;
    margin: 0;
}

p.client-name {
    font-family: 'PlayfairDisplay', serif;
    text-align: right;
    font-size: 2vw;
}

.divider-2 {
    bottom: -37%;
}

/* Philosophy Section */

#philosophy {
    flex-flow: column;
    padding: 9% 0 5%;
    align-items: center;
    overflow-x: hidden;
}

#philosophy h3 {
    padding: 2% 0 0 15%;
}

#philosophy div {
    width: 60%;
    margin: 0 5% 0 35%;
}

/* Basics Section */

.divider-3 {
    top: -6.75%;
}

#basics { 
    position: relative; 
    background-image: url(../images/intuitive-bookkeeper-basics.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding-top: 66.45%;
}

#basics div {
    position: absolute;
    top: 2%;
    right: 40%;
    bottom: 5%;
    left: 5%;
}

#basics h3 {
    text-align: left;
    padding-left: 15%;
    color: #FAF9F4;
}

#basics ul {
    font-size: 1.4vw;
    padding-top: 2%;
    color: #FAF9F4;
}

#basics ul li {
    padding: .5em 0
}

#basics .divider-4 {
    bottom: -4.5%;
}

/* Services Section */

#services {
    flex-flow: column;
    padding: 2% 0 5%;
    align-items: center;
    overflow-x: hidden;
    background-color: #EFEFE9;
}

#services h3 {
    width: 80%;
    margin: 0 20%;
}

.service-options {
    width: 80%;
    margin: 0 10% 5%;
    flex-flow: column;
}

.service-options ul {
    flex-flow: row;
    align-items: center;
    font-size: 1.8vw;
    color: #432333;
}

.service-options ul li {
    margin: .5em ;
}

.service-options ul li:nth-child(1) {
    flex: 1;
    font-family: 'PlayfairDisplayItalic', serif;
    text-align: center;
    padding: .5em 0;
    border: .1em solid #432333;
}

.service-options ul li:nth-child(2) {
    flex: 3;
}

.service-options a:link {color: #432333; text-decoration: none;} 
.service-options a:visited {color: #432333;}  
.service-options a:hover {color: #925c79; }  
.service-options a:active {color: #925c79;} 


/* Meet Kim Section */

.divider-5 {
    top: -4.5%;
}

#meet-kim {
    flex-flow: row;
    /* background-color: #EFEFE9; */
    background-color: #fffff9;
}

#meet-kim div {
    width: 90%;
    margin: 3% 5% 5%;
}

#meet-kim h3 {
    padding: 0 0 0 12%;
}

.kim {
    float: left;
    width: 40%;
    margin: 0 2% 0 0;
}

/* Affiliates */

#affiliates {
    width: 90%;
    margin: 10% 5%;
    justify-content: center;
    align-items: center;
}

#affiliates img {
    width: 20%;
}

#affiliates img:hover {
    
}

/* Footer */ 
    
footer {
    position: relative;
    background-color: #97a0b0;
    flex-flow: column;
}

.divider-footer {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -54%);
}

footer ul {
    width: 90%;
    margin: 4% 5% 0;
    font-family: "OpenSansLightItalic", sans-serif;
    color: #fffff9;
    flex-flow: column;
    justify-content: center;
}

#policy {
    flex: 1;
    width: 90%;
    margin: 2% 5% 0;
}

#policy p {
    font-family: "OpenSansLightItalic", sans-serif;
    font-size: 1.25vw;
    color: #fffff9;
    margin: 0;
}

#policy p + p {
    
}

#policy a:link { color: #fffff9; text-decoration: none; }
#policy a:hover { color: #432333; text-decoration: none; }
#policy a:active { color: #432333; text-decoration: none; }
#policy a:visited { color: #fffff9; text-decoration: none; }

.tooltip {
    position: relative;
    display: inline-block;
    width: 85%;
    font-family: "OpenSansLightItalic", sans-serif;
    font-size: 1.25vw;
    color: #fffff9;
    font-weight: 900;
    text-align: right;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90%;
    height: 20em;
    background-color: #fffff9;
    color: #432333;
    text-align: left;
    padding: 5%;
    border-radius: 6px;
    border: 2px solid #97a0b0;
    position: absolute;
    z-index: 11;
    bottom: 100%;
    left: 0%;
    overflow-y: scroll;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
}

.contact-us:hover {
    text-decoration: underline !important;
}



/* Internal Pages */

/* Packages */

#packages .divider-1 {
    top: 27%;
}

#packages section {
    padding: 5%;
}

.packages-container {
    flex-flow: row;
    padding: 5% 0;
}

.packages-container div {
    flex: 1;
    display: flex;
    flex-flow: column;
    border: .08em solid #432333;
    align-items: center;
    padding: 2% 0;
}

.packages-container div p,
.packages-container div ul {
    width: 90%;
    margin: 1em 5%;
    color: #925c79;
}

.packages-container div ul {
    width: 85%;
    margin: 0 5% 0 10%;
}

.packages-container div ul li {
    list-style-type: disc;
    padding: .5em 0;
    font-size: 1.5vw;
}

#packages .divider-7 {
    top: -13%;
}

#packages .internal-testimonial-background {
    position: relative; 
    background-image: url(../images/intuitive-bookkeeper-internal-testimonial.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding-top: 32.93%;
}

#packages .internal-testimonial {
    position: absolute;
    top: 12%;
    width: 60%;
    margin: 0 5% 0 35%;
    font-family: 'PlayfairDisplayItalic', serif;    
    color: #432333;
}

#packages .internal-testimonial p {
    font-size: 1.25vw;
}

#packages .divider-2 {
    bottom: -43%;
}

#packages #affiliates {
    width: 90%;
    margin: 18% 5% 10%;
    justify-content: center;
    align-items: center;
}


/**** Mobile Media Queries ****/


/*** Up to 5200px ***/
@media only screen and (max-width: 325em) {
  
    body {
        font-size: 400%;
    } 
}

/*** Up to 3904px ***/
@media only screen and (max-width: 244em) {
    
    body {
         font-size: 300.5%;
    }         
}

/*** Up to 2640px ***/
@media only screen and (max-width: 165em) {
    
    body {
         font-size: 200%;
    }   
}

/*** Up to 2000px ***/
@media only screen and (max-width: 125em) {
    
    body {
         font-size: 150.2%;
    }     
}

/*** Up to 1840px ***/
@media only screen and (max-width: 115em) {
 
    body {
         font-size: 133.3%;
    }        
}

/*** Up to 1520px ***/
@media only screen and (max-width: 95em) {
 
    body {
         font-size: 111.1%;
    }        
}

/*** Up to 1360px ***/
@media only screen and (max-width: 85em) {
   
body {
    font-size: 95%;
} 
}
    
/*** Up to 1280px ***/    
@media only screen and (max-width: 80em) {
    
    body {
        font-size: 100%;
    } 
}

/*** Up to 1200px ***/
@media only screen and (max-width: 75em) {
  
    body {
        font-size: 90%;
    }   
}

/*** Up to 1120px ***/
@media only screen and (max-width: 70em) {
  
    body {
        font-size: 80%;  
    }         
}

/*** Up to 1040px ***/
@media only screen and (max-width: 65em) {
    
    body {
         font-size: 80%;
    }    
}

/*** Up to 976px ***/
@media only screen and (max-width: 61em) {
  
    body {
        font-size: 72%;
    }      
}

/*** Up to 880px ***/
@media only screen and (max-width: 55em) {
  
    body {
       font-size: 65%;
    }   
}


/************ Change Format ************/


/*** Up to 800px ***/
@media only screen and (max-width: 50em) {
 
    body {
        font-size: 95%;
    } 
    
    header {
        padding-bottom: 3em;
    }
    
    p {
        width: 100%;
        margin: 0 0 1em;
    }

/* Navigation */
    
    #navigation {
        width: 50%;
        margin: 0;
    }
    
    #navigation ul {
        display: block;
        width: 90%;
        margin: 5em 5% 0;
        min-height: 100%;
        background: transparent;
    }

/* Menu */
    
    .menu-toggle {
        display: inline-block;
        margin: 5% 5% 0 5%;
        padding: 1% 1% 0;
        line-height: 1em;
        font-size: 3em;
        color: #97a0b0;
        float: right;
        text-decoration: none;
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: #97a0b0;
    }  

    .main-menu {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        overflow-y: auto;
        overflow-x: auto;
        transition: left 0.3s ease,
                  box-shadow 0.3s ease;
        z-index: 15;
        background-color: #fffff9;
        margin: 0;
    }   

    .main-menu a {
        display: block;
        padding: 1em;
        line-height: 1em;
        font-size: 1.5em;
        color: #432333;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        text-decoration: none;
        color: #97a0b0;
    }

    .main-menu .menu-close {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 4em;
        padding: .5em;
    }

    .main-menu:target {
        left: 0%;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .main-menu:target .menu-close {
        z-index: 15;
    }

    .main-menu:target ul {
        position: relative;
        z-index: 12;
    }

    .main-menu:target + .backdrop {
      position: absolute;
      display: block;  
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 9;
      background: rgba(0,0,0,0.5);
      cursor: default;
    }  
    
/* Testimonial Section */
    
    .testimonial-container {
        width: 50%;
        left: 5%;
    }
    
    .testimonial-container p, .client-name {
        font-size: 1.25em;
        width: 100%;
        margin: 0;
    }
    
/* Philosophy Section */

    #philosophy div {
        width: 90%;
        padding: 10% 5%;
    }

/* Services Section */

    #services > div {
        width: 70%;
        top: 5%;
    }
    
    #services h3 {
        margin-left: 25%;
    }

    .service-options ul li {
        font-size: 1.1em;
    } 

/* Meet Kim Section */

    #meet-kim {
        flex-flow: column;
    }
    
    #meet-kim div {
        width: 90%;
        margin: 0 5%;
    }
    
    .kim {
        width: 70%;
        margin: 0 15%;
    }
    
}

/*** Up to 720px ***/
@media only screen and (max-width: 45em) {
 
    body {
        font-size: 95%;
    }   
    
/* Services Section */
    
    .divider-3 {
        top: -4.75%;
    }
    
    #services {
        justify-content: flex-start; 
        background-image: url(../images/intuitive-bookkeeper-services-mobile.jpg);
        padding-top: 93.9%;
    }

    #services > div {
        width: 88%;
        top: 5%;
    }
    
    .service-options ul li {
        font-size: 1.3em;
    } 
}

/*** Up to 640px ***/
@media only screen and (max-width: 40em) {
    
    body {
        font-size: 90%;
    } 
    
/* Services Section */
    
    .service-options ul li {
        font-size: 1.2em;
    } 
}

/*** Up to 560px ***/
@media only screen and (max-width: 35em) {
  
    body {
        font-size: 80%;
    }  

    #logo {
        width: 50%;
        margin: 2% 0 0 2%;
    }

/* Navigation */

    #navigation {
        width: 70%;
    }
    
    .testimonial-container p, .client-name {
        font-size: 1.2em;
    }
    
/* Services Section */
    
    #services > div {
        top: 3%; 
    }

    .service-options ul li {
        font-size: 1.2em;
    }   

/* Footer */ 

    footer ul {
        width: 50%;
    }    
}

/*** Up to 480px ***/
@media only screen and (max-width: 30em) {
    
    body {
        font-size: 75%;
    } 
    
    .testimonial-container p, .client-name {
        font-size: 1.1em;
    }
    
    .service-options ul li {
        font-size: 1.1em;
    }  
}

/*** Up to 400px ***/
@media only screen and (max-width: 25em) {

    body {
        font-size: 70%;
    }    
}

/*** Up to 336px ***/
@media only screen and (max-width: 21em) {
   
    body {
        font-size: 60%;
    }  
    
/* Services Section */
    
    #services > div {
        top: 0%;
    }
    
    #services h3 {
        margin-left: 30%;
    }
    
}

/*** Up to 256px ***/
@media only screen and (max-width: 16em) {

    body {
        font-size: 50%;
    }   
}

/*** Up to 224px ***/
@media only screen and (max-width: 14em) {

    body {
        font-size: 40%;
    }    
}