/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 0.063em; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



/* All of the setup and non media query CSS */

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'OpenSansLight';
  src: url(../fonts/OpenSans-Light.ttf) format('truetype')
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url(../fonts/OpenSans-LightItalic.ttf) format('truetype')
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(../fonts/PlayfairDisplay-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'PlayfairDisplayItalic';
  src: url(../fonts/PlayfairDisplay-Italic.ttf) format('truetype')
}

html {
    font: normal 100% 'OpenSans', sans-serif; 
    height: 100%;
}

body {
    min-height: 100vh;
    height: 100%;
    font-size: 100%;
    color: #000;
    background-color: #fffff9;
    line-height: 1.625;
}

/*
#ad9ca2

*/

/* Headings */

h1 {
    font-family: 'FontName', sans-serif;
    font-size: 2em;
    color: #000;
}

h2 {
    font-family: 'FontName', sans-serif;
    font-size: 1.5em;
    color: #000;
}

h3 {
    font-family: 'PlayfairDisplay', serif;
    font-size: 4em;
    color: #925c79;
    text-align: center;
}

/* General Styling */

header, main, footer {
    width: 100%;
}

p {
    font-size: 1.5em;
    color: #432333;
    width: 90%;
    margin: 0 5% 1em;
}

img {
    max-width: 100%;
}

ul li {
    list-style-type: none;
}

.divider {
    position: absolute;
    width: 100%;
    margin: 0;
    padding: 0;
    z-index: 5;
}


/* Flexbox elements */

nav,
nav ul,
#philosophy,
.service-options,
.service-options ul,
#meet-kim,
footer,
footer ul {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}

/* Header */

header {

}

#logo {
    width: 35%;
    margin: 2% 0 0 2%;
}

/* Navigation */ 

#navigation {
    width: 48%;
    margin: 0 0 0 50%;
} 

#navigation ul {
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    position: relative;
    bottom: .25em;
    font-family: 'OpenSansLight', sans-serif;
    font-size: 1.25em;
    color: #432333;
    z-index: 10;
}

/* Menu */

.menu-toggle,
.main-menu .menu-close {
    display: none;
  }
  
.main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
}
  
.main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
    text-decoration: none;
    color: #432333;
  }
  
.main-menu a:hover,
.main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #97a0b0;
}

/* a.menu:link {color: #000; text-decoration: none;} 
a.menu:visited {color: #000;}  
a.menu:hover {color: #000; }  
a.menu:active {color: #000;}  */ 


/* Main */


main {

}
 
#philosophy, 
#services, 
#meet-kim {
    position: relative;
    padding: 5%;
}

#testimonials {
    position: relative;
    height: inherit;
    background-image: url(../images/intuitive-bookkeeper-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding-top: 52.8%;
}

.divider-1 {
    top: -8.5%;
}

.testimonial-container {
    width: 45%;
    position: absolute;
    top: 10%;
    left: 0;
}

/* Testimonial Fader */

.fader {
  position: relative;
  width: 100%;
  list-style: none;
  padding: 0;
}

.fader > li {
  position: absolute;
  opacity: 0;
  margin: 0 auto;
  width: 100%;
}

.fader > li:first-child {
  -webkit-animation: loop 20s infinite;
}

.fader > li:nth-child(2) {
  -webkit-animation: opsecond 20s infinite;
}

.fader > li:last-child {
  -webkit-animation: oplast 20s infinite;
}

@-webkit-keyframes loop {
  0% { opacity: 0; }
  10% { opacity: 1; }
  33% { opacity: 1; } 
  44% { opacity: 0; }
}

@-webkit-keyframes opsecond {
  33% { opacity: 0; }
  44% { opacity: 1; }
  66% { opacity: 1; }
  77% { opacity: 0; }
}
  
@-webkit-keyframes oplast {
  66% { opacity: 0; }
  77% { opacity: 1; }
  100% { opacity: 1; }
  0% { opacity: 1; }
  10% { opacity: 0; }
}

.testimonial-container p, .client-name {
    font-family: 'PlayfairDisplayItalic', serif;
    font-size: 1.75em;
    color: #432333;
    width: 70%;
    margin: 0 15%;
}

.client-name {
    text-align: right;
}

.divider-2 {
    bottom: -27%;
}

/* Philosophy Section */

#philosophy {
    justify-content: flex-end;
    background-color: black;
}

#philosophy div {
    width: 50%;
    padding: 5% 0;
}

/* Services Section */

.divider-3 {
    bottom: -6.5%;
    right: 0;
}

#services {
    justify-content: flex-start;
    /* height: inherit;
    background-image: url(../images/intuitive-bookkeeper-background.jpg);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    padding-top: 52.8%; */
}

#services > div {
    /* position: absolute; */
    position: relative;
    width: 50%;
    top: 0;
    left: 0;
}

.service-options {
    flex-flow: column;
}

.service-options ul {
    flex-flow: row;
    align-items: center;
}

.service-options ul li {
    font-size: 1.5em;
    color: #432333;
    margin: .5em ;
}

.service-options ul li:nth-child(1) {
    flex: 1;
    font-family: 'PlayfairDisplayItalic', serif;
    text-align: center;
    padding: .5em 0;
    border: .1em solid #432333;
}

.service-options ul li:nth-child(2) {
    flex: 3;
}

/* Meet Kim Section */

#meet-kim {
    flex-flow: row;
}

#meet-kim div {
    flex: 1;
}

#meet-kim div h3 {
    text-align: center;
}

.kim {
    width: 90%;
    margin: 10% 0;
}

/* Footer */ 
    
footer {
    position: relative;
    background-color: #97a0b0;
    padding: 3em 0 2em;
}

.divider-footer {
    position: absolute;
    left: 50%;
    top: 54%;
    transform: translate(-50%, -54%);
}

footer ul {
    width: 20%;
    margin-left: 5%;
    font-family: "OpenSansLightItalic", sans-serif;
    color: #fffff9;
    flex-flow: column;
    
}


/**** Mobile Media Queries ****/


/*** Up to 5200px ***/
@media only screen and (max-width: 325em) {
  
    body {
        font-size: 400%;
    } 
}

/*** Up to 3904px ***/
@media only screen and (max-width: 244em) {
    
    body {
         font-size: 300.5%;
    }         
}

/*** Up to 2640px ***/
@media only screen and (max-width: 165em) {
    
    body {
         font-size: 200%;
    }   
}

/*** Up to 2000px ***/
@media only screen and (max-width: 125em) {
    
    body {
         font-size: 150.2%;
    }     
}

/*** Up to 1840px ***/
@media only screen and (max-width: 115em) {
 
    body {
         font-size: 133.3%;
    }        
}

/*** Up to 1520px ***/
@media only screen and (max-width: 95em) {
 
    body {
         font-size: 111.1%;
    }        
}

/*** Up to 1360px ***/
@media only screen and (max-width: 85em) {
   
body {
    font-size: 95%;
} 
}
    
/*** Up to 1280px ***/    
@media only screen and (max-width: 80em) {
    
    body {
        font-size: 100%;
    } 
}

/*** Up to 1200px ***/
@media only screen and (max-width: 75em) {
  
    body {
        font-size: 90%;
    }   
}

/*** Up to 1120px ***/
@media only screen and (max-width: 70em) {
  
    body {
        font-size: 80%;  
    }         
}

/*** Up to 1040px ***/
@media only screen and (max-width: 65em) {
    
    body {
         font-size: 80%;
    }    
}

/*** Up to 976px ***/
@media only screen and (max-width: 61em) {
  
    body {
        font-size: 72%;
    }      
}

/*** Up to 880px ***/
@media only screen and (max-width: 55em) {
  
    body {
       font-size: 65%;
    }   
}


/************ Change Format ************/


/*** Up to 800px ***/
@media only screen and (max-width: 50em) {
 
    body {
        font-size: 90%;
    } 
    
    header {
        padding-bottom: 3em;
    }
    
    p {
        width: 100%;
        margin: 0 0 1em;
    }

/* Navigation */
    
    #navigation {
        width: 50%;
        margin: 0;
    }
    
    #navigation ul {
        display: block;
        width: 90%;
        margin: 5em 5% 0;
        min-height: 100%;
        background: transparent;
    }

/* Menu */
    
    .menu-toggle {
        display: inline-block;
        margin: 5% 5% 0 5%;
        padding: 1% 1% 0;
        line-height: 1em;
        font-size: 3em;
        color: #432333;
        float: right;
        text-decoration: none;
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: #97a0b0;
    }  

    .main-menu {
        position: absolute;
        top: 0;
        left: -100%;
        height: 100vh;
        overflow-y: auto;
        overflow-x: auto;
        transition: left 0.3s ease,
                  box-shadow 0.3s ease;
        z-index: 15;
        background-color: #fffff9;
        margin: 0;
    }   

    .main-menu a {
        display: block;
        padding: 1em;
        line-height: 1em;
        font-size: 1.5em;
        color: #432333;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        text-decoration: none;
        color: #97a0b0;
    }

    .main-menu .menu-close {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 4em;
        padding: .5em;
    }

    .main-menu:target {
        left: 0%;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .main-menu:target .menu-close {
        z-index: 15;
    }

    .main-menu:target ul {
        position: relative;
        z-index: 12;
    }

    .main-menu:target + .backdrop {
      position: absolute;
      display: block;  
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 9;
      background: rgba(0,0,0,0.5);
      cursor: default;
    }  
    
/* Testimonial Section */
    
    .testimonial-container {
        width: 50%;
        left: 5%;
    }
    
    .testimonial-container p, .client-name {
        font-size: 1.5em;
        width: 100%;
        margin: 0;
    }
    
/* Philosophy Section */

    #philosophy div {
        width: 90%;
        padding: 10% 5%;
    }

/* Services Section */

    #services > div {
        position: relative;
        width: 90%;
        margin: 5%;
        top: 0;
        left: 0;
    }

/* Meet Kim Section */

    #meet-kim {
        flex-flow: column;
    }
    
    #meet-kim div {
        width: 90%;
        margin: 0 5%;
    }
    
    .kim {
        width: 70%;
        margin: 0 15%;
    }
    
}

/*** Up to 720px ***/
@media only screen and (max-width: 45em) {
 
    body {
        font-size: 85%;
    }          
}

/*** Up to 640px ***/
@media only screen and (max-width: 40em) {
    
    body {
        font-size: 85%;
    } 
    
    .testimonial-container p, .client-name {
        font-size: 1.25em;
    }
}

/*** Up to 560px ***/
@media only screen and (max-width: 35em) {
  
    body {
        font-size: 80%;
    }  

    #logo {
        width: 50%;
        margin: 2% 0 0 2%;
    }

/* Navigation */

    #navigation {
        width: 70%;
    }
    
    .testimonial-container p, .client-name {
        font-size: 1.2em;
    }

/* Footer */ 

    footer ul {
        width: 50%;
    }    
}

/*** Up to 480px ***/
@media only screen and (max-width: 30em) {
    
    body {
        font-size: 80%;
    } 
    
    .testimonial-container p, .client-name {
        font-size: 1em;
    }
    
/* Services Section */

    .service-options ul {
        flex-flow: column;
    }

    .service-options ul li {
        margin: 1em ;
    }

    .service-options ul li:nth-child(1) {
        flex: 1;
        padding: 1em 1.5em;
    }

    .service-options ul li:nth-child(2) {
        flex: 1;
    }      
}

/*** Up to 400px ***/
@media only screen and (max-width: 25em) {

    body {
        font-size: 75%;
    }    
}

/*** Up to 336px ***/
@media only screen and (max-width: 21em) {
   
    body {
        font-size: 65%;
    }  
}

/*** Up to 256px ***/
@media only screen and (max-width: 16em) {

    body {
        font-size: 60%;
    }   
}

/*** Up to 224px ***/
@media only screen and (max-width: 14em) {

    body {
        font-size: 50%;
    }    
}