/* Cross Browser Compatability CSS */
/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 0.063em; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }



/* All of the setup and non media query CSS */

@font-face {
  font-family: 'OpenSans';
  src: url(../fonts/OpenSans-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'OpenSansLight';
  src: url(../fonts/OpenSans-Light.ttf) format('truetype')
}

@font-face {
  font-family: 'OpenSansLightItalic';
  src: url(../fonts/OpenSans-LightItalic.ttf) format('truetype')
}

@font-face {
  font-family: 'OpenSansItalic';
  src: url(../fonts/OpenSans-Italic.ttf) format('truetype')
}

@font-face {
  font-family: 'OpenSansBold';
  src: url(../fonts/OpenSans-Bold.ttf) format('truetype')
}

@font-face {
  font-family: 'PlayfairDisplay';
  src: url(../fonts/PlayfairDisplay-Regular.ttf) format('truetype')
}

@font-face {
  font-family: 'PlayfairDisplayItalic';
  src: url(../fonts/PlayfairDisplay-Italic.ttf) format('truetype')
}

html {
    font: normal 100% 'OpenSans', sans-serif; 
    height: 100%;
}

body {
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
    height: 100%;
    color: #000;
    background-color: #fffff9;
    line-height: 1.625;
}

/* Headings */

h1 {
    font-family: 'OpenSansLightItalic', sans-serif; 
    font-size: 2vw;
    color: #432333;
    margin: 1em 0 0 4%;
    line-height: 1em;
}

h2 {
    font-family: 'PlayfairDisplay', serif;
    color: #432333;
    font-size: 2.5vw;
    text-align: center;
    width: 90%;
    margin: 0 5% 1em;
}

h3 {
    font-family: 'PlayfairDisplay', serif;
    font-size: 6vw;
    color: #925c79;
    text-align: center;
}

h4 {
    font-family: 'PlayfairDisplay', serif;
    font-size: 1.25vw;
    color: #fffff9;
}

h5 {
    font-family: 'PlayfairDisplayItalic', serif; 
    font-size: 2.5vw;
    color: #925c79;
    text-align: center;
}

h6 {
    font-family: 'OpenSansItalic', sans-serif;
    font-size: 2vw;
    color: #432333;
    text-align: center;
}

/* General Styling */

header, main, footer {
    width: 100%;
}

p {
    font-size: 1.8vw;
    color: #432333;
    width: 90%;
    margin: 0 5% 1em;
}

img {
    max-width: 100%;
}

ul li {
    font-size: 1.8vw;
}

ul li {
    list-style-type: none;
}

.center {
    text-align: center;
}

.divider {
    position: absolute;
    width: 100%;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    z-index: 5;
}

.show-560 {
    display: none;
}

.bold {
    font-weight: 900;
}

.italic {
    font-family: 'PlayfairDisplayItalic', serif;
}

.underline {
    text-decoration: underline;
}

.color {
    color: #432333;
}

.border {
    border-right: .08em solid #432333;
}

.border-invisible {
    border-right: .08em solid transparent;
}

.border-bottom:after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 80%;
    position: absolute;
    bottom: -3.5em;
    border-bottom: .08em solid #432333;
}

.padding-top {
    padding-top: 6%;
}

.no-padding-top {
    padding-top: 0 !important;
}

/* Flexbox elements */

nav,
nav ul,
#philosophy,
#services,
#services .service-options,
#services .service-options ul,
#about-us,
footer,
footer ul,
.affiliates,
.internal-page .container,
.internal-page .container div,
.internal-page .container div ul {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
}

/* Header */

header {
    position: relative;
}

#divider-header .divider-1 {
    bottom: -13.5%;
}

#logo {
    width: 35%;
    margin: 2% 0 0 2%;    
}

/* Navigation */ 

#navigation {
    width: 50%;
    margin: 0 0 0 50%;
} 

#navigation ul {
    width: 100%;
    flex-flow: row;
    justify-content: space-around;
    position: relative;
    bottom: .5em;
    font-family: 'OpenSansLight', sans-serif;
    color: #432333;
    z-index: 10;
}

#navigation ul li {
    font-size: 1.4vw;
}

/* Menu */

.menu-toggle,
.main-menu .menu-close {
    display: none;
  }
  
.main-menu {
    position: relative;
    left: auto;
    top: auto;
    height: auto;
    
}
  
.main-menu a {
    border: 0 !important; /* Remove borders from off-canvas styling */
    text-decoration: none;
    color: #432333;
  }
  
.main-menu a:hover,
.main-menu a:focus {
    background: none; /* Remove background from off-canvas styling */
    color: #97a0b0;
}


/* The container <div> - needed to position the dropdown content */

.dropdown div {
    position: absolute;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: .3em;
    background-color: #fffff9;
    min-width: 10em;
    overflow: hidden;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 15;
}

/* Links inside the dropdown */
.dropdown-content a {
    font-size: 1.3vw;
    color: #432333;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #97a0b0; color: #fffff9; }

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

.mobile-only {
    display: none;
}

/* Main */

#testimonials,
#philosophy,
#services,
#about-us {
    position: relative;
}

#testimonials {
    background: url(../images/intuitive-bookkeeper-testimonials.jpg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: contain;
    padding-top: 38.75%; 
}

#testimonials .divider-1 {
    top: -12%;
}

.testimonial-container {
    width: 55%;
    position: absolute;
    top: 20%;
    left: 5%; 
}

/* Testimonial Fader */

.fader {
    position: relative;
    width: 100%;
    list-style: none;
    padding: 0;
}

.fader > li {
    position: absolute;
    opacity: 0;
    margin: 0 auto;
    width: 100%;
    animation: fader 30s linear infinite;
}

.fader > li:nth-child(1) { animation-delay: 0s; }
.fader > li:nth-child(2) { animation-delay: 10s; }
.fader > li:nth-child(3) { animation-delay: 20s; }


@keyframes fader {
    0% { opacity: 0; } 
    3.33 { opacity: 1; }
    6.66% { opacity: 1; }
    9.99% { opacity: 1; }
    13.32% { opacity: 1; }
    16.65% { opacity: 1; }
    19.98% { opacity: 1; }
    23.31% { opacity: 1; }
    26.64% { opacity: 1; }
    29.97% { opacity: 1; }
    33.3% { opacity: 0; }
    100% { opacity: 0; }
}

.testimonial-container p, p.client-name {
    font-family: 'PlayfairDisplayItalic', serif;
    color: #432333;
    width: 100%;
    margin: 0;
}

p.client-name {
    font-family: 'PlayfairDisplay', serif;
    text-align: right;
    margin-right: 15%;
    font-size: 1.6vw;
}

#testimonials .divider-2 {
    bottom: -21%;
}

/* Philosophy Section */

/* AOS Slider */

[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
    transition-duration: .8s;
}

[data-aos][data-aos][data-aos-delay="0"],
body[data-aos-delay="0"] [data-aos] {
    transition-delay: 0;
}

[data-aos][data-aos][data-aos-delay="0"].aos-animate,
body[data-aos-delay="0"] [data-aos].aos-animate {
    transition-delay: 0s;
}
[data-aos][data-aos][data-aos-easing=ease-in-sine],body[data-aos-easing=ease-in-sine] [data-aos] {
    transition-timing-function: cubic-bezier(.47,0,.745,.715);
}

[data-aos^=slide][data-aos^=slide] {
    transition-property: transform;
}

[data-aos^=slide][data-aos^=slide].aos-animate {
    transform: translateZ(0);
}

[data-aos=slide-left] {
    transform: translate3d(120%,0,0);
}

#philosophy {
    flex-flow: column;
    padding: 8% 0 5%;
    align-items: center;
    overflow-x: hidden;
}

#philosophy h3 {
    padding-left: 15%;
}

#philosophy div {
    width: 70%;
    margin: 0 5% 0 25%;
}

/* Basics Section */

#basics .divider-3 {
    top: -5.4%;
}

#basics { 
    position: relative; 
    background-image: url(../images/intuitive-bookkeeper-basics.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    padding: 3% 0 5%;
}

#basics h3 {
    text-align: left;
    padding-left: 15%;
    color: #FAF9F4;
}

#basics ul {
    color: #FAF9F4;
    width: 60%;
    margin: 0 0 0 5%;
}

#basics ul li {
    padding: .5em 0
}

#basics .divider-4 {
    bottom: -3.5%;
}

/* Services Section */

#services {
    flex-flow: column;
    padding: 3% 0 0;
    align-items: center;
    background-color: #EFEFE9;
    overflow-x: hidden;
}

#services h3 {
    width: 80%;
    margin: 0 20%;
}

.service-options {
    width: 90%;
    margin: 0 5% 5%;
    flex-flow: column;
}

.service-options ul {
    width: 86%;
    margin: 0 7%;
    flex-flow: row;
    align-items: center;
    color: #432333;
}

.service-options ul li {
    margin: .5em ;
}

.service-options ul li:nth-child(1) {
    flex: 1;
    font-family: 'PlayfairDisplayItalic', serif;
    text-align: center;
    padding: .5em 0;
    border: .1em solid #432333;
}

.service-options ul li:nth-child(2) {
    flex: 3;
}

.service-options a:link, .text-link:link {color: #432333; text-decoration: none;} 
.service-options a:visited, .text-link:visited {color: #432333;}  
.service-options a:hover, .text-link:hover {color: #925c79; }  
.service-options a:active, .text-link:active {color: #925c79;} 


/* About Us Section */

#about-us {
    flex-flow: row;
    background-color: #fffff9;
}

#about-us .divider-5 {
    top: -3%;
} 

#about-us div {
    width: 80%;
    margin: 3% 10% 5%;
}

#about-us h3.about-us {
    padding: 0 0 0 11%;
    text-align: left;
}

#about-us h3 {
    padding: 0 0 0 12%;
}

.kim {
    float: left;
    width: 40%;
    margin: 0 2% 0 0;
    padding-bottom: 3em;
}

/* Affiliates */

.affiliates {
    width: 80%;
    margin: 0 10%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.affiliates:last-of-type {
    padding-top: 2%;
}

.affiliates div {
    flex: 0 0 25%;
    text-align: center;
}

.affiliates div img {
    opacity: .5;
    max-width: 55%;
}

.affiliates div a img:hover {
    opacity: 1;
}

.disclosure {
    font-family: 'OpenSansLight', sans-serif;
    font-size: 1vw;
    padding: 2% 0 6em;
    text-align: center;
}

/* Footer */ 
    
footer {
    position: relative;
    background-color: #97a0b0;
    flex-flow: column;
}

.divider-footer {
    position: absolute;
    top: -20%;
    right: 0;
    left: 0;
    z-index: 5;
}

footer ul {
    width: 90%;
    margin: 4% 5% 0;
    font-family: "OpenSansLightItalic", sans-serif;
    color: #fffff9;
    flex-flow: column;
    justify-content: center;
}

footer ul li {
    font-size: 1.4vw;
}

footer a:link { color: #fffff9; text-decoration: none; }
footer a:hover { color: #432333; text-decoration: none; }
footer a:active { color: #432333; text-decoration: none; }
footer a:visited { color: #fffff9; text-decoration: none; }

#policy {
    flex: 1;
    width: 90%;
    margin: 2% 5% 0;
}

#policy p {
    font-family: "OpenSansLightItalic", sans-serif;
    font-size: 1.25vw;
    color: #fffff9;
    margin: 0;
}

.tooltip {
    position: relative;
    display: inline-block;
    width: 85%;
    font-family: "OpenSansLightItalic", sans-serif;
    font-size: 1.25vw;
    color: #fffff9;
    font-weight: 900;
    cursor: pointer;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 90%;
    height: 20em;
    background-color: #fffff9;
    color: #432333;
    text-align: left;
    padding: 5%;
    border-radius: 6px;
    border: 2px solid #97a0b0;
    position: absolute;
    z-index: 11;
    bottom: 100%;
    left: 0%;
    overflow-y: scroll;
}

.tooltip:hover .tooltiptext,
.tooltip:focus .tooltiptext {
    visibility: visible;
}

.contact-us:hover {
    text-decoration: underline !important;
}


/* Internal Pages */

main {
    position: relative;
}

.internal-page section {
    padding: 5% 5% 2.5%;
}

.internal-page h3 {
    padding-bottom: 2%;
}

.internal-page .container {
    flex-flow: row;
    flex-wrap: wrap;
    border: .08em solid #432333;
}

.internal-page .container p {
    font-size: 1.6vw;
}

.internal-page div {
    position: relative;
}

.internal-page .container div {
    flex: 1;
    flex-flow: column;
    align-items: center;
    margin: 5% 0;
}

.internal-page .container div p {
    width: 90%;
    margin: 1em 5%;
    color: #925c79;
}

.internal-page .container a:link { color: #432333; }
.internal-page .container a:visited { color: #432333; }
.internal-page .container a:hover { color: #925c79; }
.internal-page .container a:active { color: #432333; }

.internal-page .container div ul {
    width: 85%;
    margin: 1em 5% 1em 10%;
    padding: 1em 0;
    flex-flow: column;
    color: #925c79
}

.internal-page .container div ul li {
    /* list-style-type: disc; */
    padding: .5em 0;
    font-size: 1.5vw;
}

/* Packages */

.grid-container {
    display: grid;
    padding: 5% 3%;
    border: .08em solid #432333;
    grid-template-columns: repeat(3, 1fr);
}

.grid-container div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto 4em 15em 8em 5em 4em 4em 4em 4em 4em 4em 4em;
}

.grid-container div img {
    width: 80%;
    margin: 0 10% 5%;
}

.grid-container div p {
    font-size: 1.25vw;
    margin-bottom: 0;
    color: #925c79;
}

.grid-container div span {
    display: grid;
    align-items: center;
    font-size: 1.23vw;
    color: #925c79;
    width: 90%;
    margin: 0 0 1em;
    padding: 0 5%;
}

.grid-container span:nth-child(2n+1) {
    background-color: #efefe9;
}

/* Add-ons */

#add-ons .container div ul {
    flex-flow: row;
    width: 90%;
    margin: 0 5%;
    align-items: flex-end;
}

#add-ons .container div ul li {
    flex: 2;
    border-bottom: .04em solid #432333;
    padding: 1em 1em 0 0;
    list-style-type: none;
}

#add-ons .container div ul li + li {
    flex: 1;
}

#add-ons .container p {
    margin: 0 0 0 1em;
}


/* Taxes */

#taxes .container div,
#additional-services .container div {
    flex: 1 0 49%;
}

#taxes .container div ul {
    width: 25%;
    margin-left: 10%;
}

/* Get Started */

#get-started .container div {
    margin-top: 0;
}

#get-started .container div iframe {
    height: 100%;
}

#get-started .container div p {
    color: #432333;
}

#get-started ol {
    width: 80%;
    margin: 0 10% 2em;
    list-style-type: disc;
}

#get-started ol li {
    padding: .5em 0;
    font-size: 1.8vw;
}

#get-started .container ul {
    width: 98%;
    margin: 0 0 0 2%;
}

#get-started .container ul li {
        font-size: 1.7vw;
}


.internal-testimonial-background {
    margin-top: 1em;
    position: relative;
}

.internal-testimonial p {
    font-size: 1.5vw;
}

.packages-testimonial {
    position: absolute;
    width: 58%;
    top: 18%;
    left: 39%;
}

.packages-testimonial p {
    color: #efefe9;
}

.add-ons-testimonial {
    position: absolute;
    width: 70%;
    top: 15%;
    left: 1%;
}

.add-ons-testimonial p {
    color: #e5e8ec;
}

.taxes-testimonial {
    position: absolute;
    width: 60%;
    top: 20%;
    left: 37%;
}

.taxes-testimonial p {
    color: #432333;
}

.additional-services-testimonial {
    position: absolute;
    width: 60%;
    top: 15%; 
    left: 1%;
}

.additional-services-testimonial p {
    color: #432333;
}

.get-started-testimonial  {
    position: absolute;
    width: 50%;
    top: 20%;
    left: 47%;
    color: #E3D0D6;
}

.get-started-testimonial p {
    color: #E3D0D6;
}


/**** Mobile Media Queries ****/


/************ Change Format ************/


/*** Up to 800px ***/
@media only screen and (max-width: 50em) {
    
/* General Styles */
    
    h1 {
        margin: .5em 0 0 4%;
        line-height: 1.625em;
        padding-bottom: .75em;
    }
    
    h4 {
        font-size: 2vw;
    }
    
    .padding-top-800 {
        padding-top: 5% !important;
    }
    
    .border-bottom:after {
        bottom: -2em;
    }

    .border-bottom-800:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 80%;
        position: absolute;
        bottom: -3.5em;
        border-bottom: .08em solid #432333;
    }
    
/* Header */

    #logo {
        margin: 2% 0 2% 2%;
    }
    
/* Navigation */
    
    #navigation {
        width: 50%;
        margin: 0;
    } 

    #navigation ul {
        width: 90%;
        padding: 0 5%;
        flex-flow: column;
        justify-content: flex-end;
    }
    
    #navigation ul:nth-child(1) {
        padding-top: 0;
    }

    #navigation ul li {
        padding: 0 2% 0 0;
        white-space: nowrap;
        overflow: hidden;
        font-size: 3vw;
    }
    
    .menu-toggle {
        display: inline-block;
        margin: 1% 5%;
        line-height: 1em;
        font-size: 7vw;
        color: #432333;
        text-decoration: none;
        position: absolute;
        top: 0;
        right: 0;
    }

    .menu-toggle:hover,
    .menu-toggle:focus {
        color: #97a0b0;
    }  

    .main-menu {
        position: absolute;
        top: 0;
        left: -100%;
        width: 50%;
        height: 100vh;
        overflow-x: hidden;
        overflow-y: scroll;
        transition: left 0.3s ease,
                  box-shadow 0.3s ease;
        z-index: 10;
        background-color: #EFEFE9;
    }

    .main-menu ul {
        display: block;
        margin-top: 2em;
        width: 100%;
        background: transparent;
    }
    
    .main-menu ul ul {
        margin: 0;
    } 

    .main-menu a {
        display: block;
        padding: 1em;
        line-height: 1em;
        color: #432333;
        text-decoration: none;
    }

    .main-menu a:hover,
    .main-menu a:focus {
        text-decoration: none;
        color: #97a0b0;
    }

    .main-menu .menu-close {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
        font-size: 10vw;
        padding: 0 .5em;
    }

    .main-menu:target {
        left: 0%;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .main-menu:target .menu-close {
        z-index: 12;
    }

    .main-menu:target ul {
        position: relative;
        z-index: 11;
    }

    .main-menu:target + .backdrop {
      position: absolute;
      display: block;  
      content: "";
      left: 0;
      top: 0;
      width: 100%;
      height: 100vh;
      z-index: 9;
      background: rgba(0,0,0,0.5);
      cursor: pointer;
    }

    .dropdown div {
        display: none;
    }     
    
    .mobile-only {
        display: block;
    }
    
/* Philosophy Section */
    
    #philosophy h3 {
        padding-left: 0;
    }

    #philosophy div {
        width: 80%;
        margin: 0 10%;
    }  
    
    .disclosure {
        font-size: 1.25vw;
    }
    
/* Footer */ 
    
    footer ul li {
        padding: 0 0 2em;
        font-size: 1.75vw;
    }

    #policy p, .tooltip {
        font-size: 1.4vw;
    }

/* Internal Pages */
 
    .internal-page section {
        padding: 3% 0 0;
    } 
    
    .grid-container,
    #add-ons .container,
    #taxes .container,
    #additional-services .container,
    #get-started .container {
        width: 90%;
        margin: 0 5%;
    }
  
    .grid-container {
        display: grid;
        padding: 5% 0;
        border: .08em solid #432333;
        grid-template-columns: repeat(3, 1fr);
    }

    .grid-container div p {
        font-size: 1.6vw;
    }
    
    .grid-container div span {
        font-size: 1.6vw;
    }
    
    .internal-testimonial p {
        font-size: 1.7vw;
    }
    
    .internal-page .container p,
    .internal-page .container div ul li,
    .internal-page .container div div ul li,
    .internal-page .container div ul p,
    .internal-page .container div ol ul li {
        font-size: 1.8vw;
    }
}


/*** Up to 560px ***/
@media only screen and (max-width: 35em) {
    
/* General Styles */
    
    h1 {
        font-size: 5vw;
        text-align: center;
        margin: .5em 0 1.25em 0;
    }
    
    h2 {
        font-size: 5.5vw;
        width: 80%;
        margin: 0 10% 2em;
    }

    
    h3, #philosophy h3, #basics h3, #services h3, #about-us h3.about-us, #about-us h3 {
        font-size: 13vw; 
        margin: 0;
        padding: 0;
        text-align: center;
    }
    
    h4 {
        font-size: 4vw;
    }
    
    h5 {
        font-size: 7vw;
    }

    h6 {
        font-size: 6vw;
    }
    
    p, ul li {
        font-size: 4.5vw;
    }
    
    .padding-top-800 {
        padding-top: 0% !important;
    }
    
    .border-bottom:after {
        bottom: -2em;
    }

    .border-bottom-800:after {
        content: "";
        display: block;
        margin: 0 auto;
        width: 80%;
        position: absolute;
        bottom: -3.5em;
        border-bottom: .08em solid #432333;
    }
    
/* Header */

    #logo {
        width: 70%;
        margin: 9% 15% 2%;
    }
    
/* Navigation */
    
    #navigation {
        width: 70%;
        margin: 0;
    } 
    
    #navigation ul li {
        font-size: 4.5vw;
        padding: .25em 0;
    }
    
    .menu-toggle {
        font-size: 13vw;
    }

    .main-menu .menu-close {
        position: absolute;
        right: 0;
        top: 0;
        font-size: 15vw;
    }
    
/* Testimonials Section */
    
    #testimonials {
        background: url(../images/intuitive-bookkeeper-testimonials-560.jpg);
        width: 100%;
        background-size: contain;
        padding-top: 82.25%; 
    }

    #testimonials .divider-1 {
        top: -5.5%;
    }
    
    .testimonial-container {
        width: 75%;
        top: 7%;
        left: 10%;
    }
    
    .testimonial-container p {
        font-size: 4vw;
    }
    
    p.client-name {
        font-size: 3.6vw;
        text-align: left;
    }
   
    #testimonials .divider-2 {
        bottom: -17.25%;
    }
    
/* AOS Slider */

[data-aos][data-aos][data-aos-duration="800"],
body[data-aos-duration="800"] [data-aos] {
    transition-duration:.none;
}

[data-aos][data-aos][data-aos-delay="0"],
body[data-aos-delay="0"] [data-aos] {
    transition-delay: none;
}

[data-aos][data-aos][data-aos-delay="0"].aos-animate,
body[data-aos-delay="0"] [data-aos].aos-animate {
    transition-delay: none;
}
[data-aos][data-aos][data-aos-easing=ease-in-sine],body[data-aos-easing=ease-in-sine] [data-aos] {
    transition-timing-function: none;
}

[data-aos^=slide][data-aos^=slide] {
    transition-property: none;
}

[data-aos^=slide][data-aos^=slide].aos-animate {
    transform: none;
}

[data-aos=slide-left] {
    transform: none;
}   
    
/* Philosophy Section */
    
    #philosophy {
        padding: 14% 0 5%;
    }
    
    #philosophy div {
        width: 90%;
        margin: 1em 5% 0;
    }
    
/* Basics Section */
    
    #basics .divider-3 {
        top: -1.5%;
    }
    
    #basics ul {
        width: 80%;
        margin: 0 10%;
    }
    
    #basics ul li {
        padding: 1em 0
    }
    
    #basics .divider-4 {
        bottom: -1%;
    }
    
/* Services Section */

    .service-options ul {
        flex-flow: column;
        width: 90%;
        margin: .5em 5% 1em;
    }

    .service-options ul li:nth-child(1) {
        flex: none;
        width: 100%;
        font-size: 6vw;
    }

    .service-options ul li:nth-child(2) {
        flex: none;
        width: 100%;
    }    

/* About Us Section */

    #about-us .divider-5 {
        top: -.8%;
    }
    
    #about-us div {
        width: 90%;
        margin: 3% 5% 5%;
    }

    .kim {
        width: 90%;
        margin: 0 5%;
        padding: 0;
        float: none;
    }
    
/* Affiliates */

    .affiliates {
        width: 90%;
        margin: 5% 5% 0;
    }
    
    .affiliates div {
        flex: 0 0 50%;
        padding: 1em 0;
    }

    .disclosure {
        font-size: 4vw;
        text-align: left;
        padding-bottom: 2em;
    }
    
/* Footer */ 
    
    .divider-footer {
        top: -7%;
    }
    
    footer ul {
        text-align: center;
        align-items: center;
    }
    
    footer ul li {
        padding: 1em 0 2em;
        font-size: 5vw;
    }

    .tooltip {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    .tooltip .tooltiptext {
        font-size: 4vw;
    }

/* Internal Pages */
    
    .internal-page .container {
        border: 0;
    }
    
    .internal-page .container div ul {
        margin-top: 0;
        padding-top: 0;
    }
    
    .internal-page .container p,
    .internal-page .grid-container p,
    .internal-page .container div ul li,
    .internal-page .container div ul li p {
        font-size: 4.5vw
    }
    
    .internal-page section > p:first-of-type {
        width: 80%;
        margin: 0 10%;
    }
 
    .grid-container {
        padding: 0;
        border: .0;
        grid-template-columns: repeat(1, 1fr);
    }

    .grid-container div {
        grid-template-rows: auto auto 4em auto 7em 5em 5em 5em 5em 5em 5em 5em 5em;
        margin-bottom: 5em;
    }
    
    .grid-container div p:nth-child(4) {
        padding-bottom: 1em;
    }

    .grid-container div img {
        width: 90%;
        margin: 0 5% 1em;
    }

    .grid-container div p {
        font-size: 4.5vw;
    }
    
    .grid-container div span {
        font-size: 4.5vw;
    }
    
    .border,
    .border-bottom,
    .border-bottom:after,
    .border-bottom-800:after {
        border: 0;
    }
    
    #add-ons .container div ul {
        flex-wrap: wrap;
        border-bottom: .04em solid #432333;
        width: 90%;
        margin: 1em 5% 0;
        align-items: none;
}

    #add-ons .container div ul li {
        flex: 1 0 100%;
        border-bottom: none;
        padding: 0;
    }
    
    #add-ons .container div ul li + li {
        padding-top: 1em;
        text-align: right;
    }
    
    #taxes section {
        margin-bottom: 2em;
    }
    
    #taxes .container div,
    #additional-services .container div {
        flex: 1 0 100%;
    }
    
    #taxes .container div ul {
        width: 100%;
        margin: 0;
        text-align: center;
    }

    #get-started ol {
        width: 75%;
        margin: 0 5% 1em 20%;
    }

    #get-started ol li {
        font-size: 4vw;
    }
    
/* Testimonials */    
    
    .internal-testimonial-background {
        margin: 1em 0 0 0;
    }
    
    .show-560 {
        display: block;
    }
    
    .internal-testimonial-background img {
        display: none;
    }

    .packages-testimonial,
    .add-ons-testimonial,
    .taxes-testimonial,
    .additional-services-testimonial,
    .get-started-testimonial {
        position: relative;
        width: 90%;
        margin: 0 5% 2em;
        top: 0;
        left: 0;
    }  
    
    .packages-testimonial p,
    .add-ons-testimonial p,
    .taxes-testimonial p,
    .additional-services-testimonial p,
    .get-started-testimonial p {
        font-size: 4.4vw;
        color: #925c79;
    }
  
}

/*** Up to 400px ***/
@media only screen and (max-width: 25em) {

/* General Styles */
    
    #navigation ul li {
        padding: .35em 0;
    }
}